* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #ddd;
    --color-bg1: #F1F3FF;

    --container-width-lg: 80%;
    --container-widht-md: 90%;
    --container-width-sm: 94%;
    
    --transition: all 400ms ease;

}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-black);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-black);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}



/* ********************** NAVBAR ************************ */
nav {
    background: #F1F3FF;
    width: 100vw;
    height: 5rem;
    position: fixed;                /*biar navbarnya tetap kalo di csroll*/
    top: 0;
    z-index: 11;            /*semakin besar nilai indexnya maka dia ditampilkan semakin depan*/
}

.logo_nav__menu {
    background: #0D28A6;

    width: 6.25rem;                 /*100 px*/
    height: 2.125rem;               /*34 px*/
    left: 8.5rem;                   /*136px*/
    top: 1.5625rem;                 /*25px*/

}


.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.nav__menu a {
    transition: var(--transition);
}

.nav__menu a:hover {
    color: var(--color-primary);
}

.nav_menu__btn {
    box-sizing: border-box;

    width: 5.063rem;                 /*81px*/
    height: 2.25rem;                 /*36px*/

    background: #5CB85F;
    border-radius: 0.125rem;           /*2px*/
}

.tombol {
    display: none;
}


.nav_menu__btn:hover {
    opacity: 0.9;
}

.nav_menu__btn a {
    color: var(--color-white);
}

.nav_menu__btn .text__btn:hover {
    color: var(--color-white);
}




/* *********************************** HEADER ********************************** */
header {
    position: relative;
    top: 5rem;                  /* 177px */
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    
    background-color: #f1f3ff;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}



/* **************************** HEADER LEFT ******************************* */
.header_left h2 {
    color: #000;
    width: 35.5rem;             /* 568px */
    margin: 6rem 0 2.4rem;
    line-height: 180%;
}

.header_left p {
    color: #000;
    width: 29.5rem;             /* 468px */
    height: 3.75rem;            /* 60px */
    font-size: 0.875rem;        /* 14px */
    margin: 1rem 0 2.4rem;
}


.btn_kiri {
    box-sizing: border-box;

    width: 8.75rem;             /* 140px */
    height: 2.25rem;            /*36px*/



    background: #5CB85F;
    border-radius: 0.125rem;    /* 2px */


    margin: 1rem 0 2.4rem;
}

.btn_kiri .text_btn_kiri {
    color: var(--color-white);
}

.btn_kiri:hover {
    opacity: 0.9;
}


/* ************************************** HEADER RIGHT ************************************ */
.mobil {
    position: absolute;
    width: 44rem;               /*704px;*/
    height: 24.188rem;              /*243px;*/
    top: 8.063rem;
    margin-left: 1rem;

}






/* *************************** services ************************************* */
.services__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem;
}

/* ************************ services left ********************************* */
.services_left {
    width: 80%;
    height: 80%;
}

/* ************************* services right ******************************** */
.services_right h2{
    text-align: left;
    font-size: 24px;
    margin-bottom: 0;
}

.services_right p {
    font-size: 14px;
    margin: 2rem 0 1rem;
}

.list_right {
    font-size: 14px;
}

.list_right li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.list_right li img {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}





/* ********************* WHY US ****************** */

.why_us_top h2 {
    text-align: left;
    font-size: x-large;
    margin-bottom: 2rem;
}

.why_us_top p {
    margin-bottom: 4rem;
}

.reason img {
    width: 32px;
    height: 32px;
}

.why_us_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.reason {
    padding: 1rem;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    background: white;
    transition: var(--transition);
}

.reason:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}
.why_us_icon img {
    margin-bottom: 1rem;
}

.reason h5 {
    font-size: 16px;
    margin-bottom: 1rem;
}

.reason p {
    font-size: 14px;
}








/* ****************************** TESTIMONIAL ****************************** */
.testimonial {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonial_top h2 {
    margin-bottom: 2rem;
}
.testimonial_top p {
    text-align: center;
    margin-bottom: 4rem;
}


/* **************** testimonial bottom ************************ */

.testimonial_bottom article {
    display: grid;
    grid-template-columns: 10% 90%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.avatar img {
    width: 4rem;
    height: 4rem;
    /* float: left; */
}

.avatar {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.info img {
    width: 6rem;
}

.testimonial_bottom p {
    font-size: small;
}

.testimonial_bottom h4 {
    font-size: small;
}

.testimonial_bottom article {
    background-color: #F1F3FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

}

.info {
    margin-left: 6rem;
    padding-right: 2rem;
    width: auto;
}



/* ********************************register*********************** */
.register {
    background-color: #0D28A6;
    border-radius: 13px;
    padding-left: 6rem;
    padding-right: 6rem;

}

.register h2 {
    color: white;
}

.register p {
    text-align: center;
    color: white;
    margin-bottom: 4rem;
    padding-left: 16rem;
    padding-right: 16rem;
    font-size: small;
}

.register button {
    box-sizing: border-box;
    background-color: #5CB85F;
    border-radius: 2px;
    width: 8rem;
    height: 2rem;
}

.register button a {
    color: #FFFFFF;
}

.register button:hover {
    opacity: 0.9;
    background: rgb(13, 205, 13);
}




/* ************************** FAQS ************************ */
.faq {
    padding-top: 10rem;
}

.faq_left h4 {
    margin-bottom: 2rem;
}

.faq__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.faqs {
    padding: 1rem;
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem;
}

.faqs h4 {
    font-size: x-small;
    line-height: 2.2;
}

.faq_icon {
    align-self: flex-start;
    font-size: small;
    padding-right: 2rem;
}

.faqs p {
    margin-top: 0.8rem;
    display: none;
    font-size: x-small;
}

.faqs.open p {
    display: block;
}


/************************ footer *************************/
footer {
    padding-top: 5rem;
    font-size: x-small;
    margin-bottom: 5rem;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer2 ul li {
    margin-bottom: 1rem;
}

.footer2 ul li a:hover{
    text-decoration: underline;
}

.footer3 img {
    width: 24px;
    height: 24px;
    display: inline;
    margin-right: 1rem;

}

.footer3 p {
    padding-bottom: 2rem;
}

.footer_copyright h4 {
    background: #0D28A6;
    margin-top: 2rem;

    width: 6.25rem;                 /*100 px*/
    height: 2.125rem;               /*34 px*/
    left: 8.5rem;                   /*136px*/
    top: 1.5625rem;                 /*25px*/
}


















/* MEDIA QUERIES (TABLETS) */
@media screen and (max-width: 768px) {
    .container {
        width: var(--container-widht-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }


    /* ************************* NAVBAR ********************* */
    .tombol {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    .tombol#close-menu-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        height: fit-content;
        right: 5%;

        width: 18rem;
        flex-direction: column;
        gap: 0;

        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 5.8rem;
    }

    .nav__menu li a {
        background: var(--color-bg);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover {
        background: var(--color-bg1);
        color: var(--color-black);
    }

    .nav__menu .nav_menu__btn {
        background: var(--color-bg);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        display: grid;
        width: 100%;
        height: 100%;
    }

    .nav_menu__btn a:hover {
        color: #000;
    }

    .nav_menu__btn .text__btn {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;  
    }

    .tombol {
        color: #000;
    }






    /* header */


    /* services */

    .services {
        height: auto;
    }

    .services__container {
        grid-template-columns: 1fr;
        gap: 6rem;
    }

    .services_left {
        margin-right: 0;
    }

    .services_right {
        margin-right: 0;
    }



    /* why */

    .why_us {
        padding-top: 0;
    }

    .why_us_bottom {
        grid-template-columns: 1fr 1fr;
    }



    /*TESTIMONIAL*/

    .testimonial_bottom article {
        grid-template-columns: 1fr;
    }

    .avatar {
        justify-content: center;
        margin-left: 0;
    }

    .info {
        margin-left: 0;
        padding-left: 2rem;
        text-align: justify;
        margin-top: 2rem;
    }


    /* register */

    .register p {
        padding: 0;
    }


    /* faqs */
    .faq{
        padding-bottom: 0;
    }
    
    .faq__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }


}


@media screen and (max-width: 426px) {

    nav {
        width: 134vw;
    }

    body {
        width: 134vw;
    }
   .container {
    width: var(--container-width-sm);
   }

   .nav__menu {
    right: 3%;
   }

   header {
    height: 100%;
    width: 100%;
   }

   .header__container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: -4rem;
   }

   .header_right {
    display: none;
   }

   .header_left h2 {
    padding-right: 2rem;
    text-align: center;
   }

   .header_left p {
    text-align: center;
    margin: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;
   }
}